*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
#header{
    background-color: rgb(243, 243, 243);
    width: 100%;
    position: fixed;
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header_left, .header_center, .header_right{
    width: 100%;
    /* border: 1px dashed black; */
    display: flex;
    align-items: center;
}
/* Col left */
.header_left .mobile_logo img{
    width: 40px;
}

/* Col Center */
.search_style{
    background-color:rgb(233, 233, 233);
    border-left: none;
}

/* FINE HEADER */

/* SIDEBAR */
#sidebar{
    width: 150px;
    height: 100vh;
    background-color: #0e2338;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover ;
    position: fixed;
    top:0;
    z-index:1;
}
.top_sidebar{
    width:100%;
    /* border: 1px dashed white; */
    margin-top: 70px;
}
.bottom_sidebar{
    width:100%;
    /* border: 1px dashed white; */
}
.h_100{
    height: 100%
}
.link_sidebar:hover{
    background-color: rgb(205, 205, 205);
    cursor: pointer;
}
.link_sidebar a{
    text-decoration: none;
    color: white;
}
/* FINE SIDEBAR */

/* MAIN */
#main_content{
    width: calc(100% - 150px);
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(244, 244, 244);
    padding-top: 50px;
}

.top_main_left,.top_main_center, .top_main_right{
    width: 100%;
    margin-bottom: 10px;
    /* border: 1px dashed black; */
}
/* Top-bar main  */
.background_top_main{
    background-color: #1b72e8;
    padding-top: 20px;
    padding-bottom: 10px;
}

.color_badge{
    background-color:#165bba
}
/* FINE Top-bar main  */

/* Prossime classi */
.prossime_classi{
    width: 100%;
    /* border: 1px dashed black; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.prossime_classi .class_avatar{
    width: 20px;
}

table .space{
    width: 50%;
}
/*FAQ */
.faq{
    width: 100%;
    /* border: 1px dashed black; */
}
/* Todo */
.todo{
    width: 100%;
    /* border: 1px dashed black; */
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Utenti attivi */
.utenti_attivi{
    width: 100%;
    /* border: 1px dashed black; */
    margin-bottom: 20px;
}











/* FINE MAIN */


/************** MEDIA QUERY ***********/
/* TABLET */
@media screen and (max-width:767px){

    #sidebar{
        width: 70px;
    }

    #main_content{
        width: calc(100% - 70px);

    }
    
}
